node_modules
**/node_modules

dist
**/dist
.next
**/.next
out

.turbo
**/.turbo

.env
**/.env
.env.*
**/.env.*
!**/.env.example

.git
.gitignore
.gitattributes
.vscode
.vs
.editorconfig

**/Dockerfile*
**/compose.y*ml
**/docker-compose*
**/.dockerignore

**/tests
**/postman
**/docs
assets
**/README.md
**/CHANGELOG.md
**/CODE_OF_CONDUCT.md
**/CONTRIBUTING.md
**/SECURITY.md
**/PRIVACY_POLICY.md
**/LICENSE
